*{
    box-sizing: border-box;

}


body{
    background-color: aqua;
}

h1{
    color:red;
}


.navigation{
    background-color: #478CCF;
    margin: 0;
}

.links{
    list-style-type: none;
}

.links>li{
display: inline-block;
margin: 20px;
}

.links>li>a{
    color: yellow;
    text-decoration: none;
}

.hero{
    background-color:white;
    display: flex
    
}

.heroimg{
    height:650px;

    border-radius: 100px;
    
}
.hero-text{
    margin: 10px;
    border: 2px solid aqua;
    padding: 15px 25px 50px 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
}
