*{
    box-sizing: border-box;

}


body{
    background-color: aqua;
}

h1{
    color:red;
}


.navigation{
    background-color:aqua;
    margin: 10;
    align-items: right;
    display: flex;
    justify-content: center;
    
}

.links{
    list-style-type: none;
    
}

.links>li{
display: inline-block;

}

.links>li>a{
    color:black;
    text-decoration: none;
    padding: 10px;
    margin: 90px;
}
.flex-container{
    flex-direction: right;
}


.hero{
    background-color:white;
    display: flex;
    position: relative;
    align-items: right;
     justify-content: center; 
     align-items: center; 
    
}

.heroimg{
    height:650px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.hero-text{
    margin: 10px;
    border: 1ic solid aqua;
    padding: 15px 25px 50px 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    height: 350px;
    border-radius: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn{
    background-color: aquamarine;
    padding: 20px 30px;
    border: none;
    border-radius: 50px;
    box-shadow: 5px 10px black;
}
.but{
    background-color: aquamarine;
    padding: 20px 30px;
    border: none;
    border-radius: 50px;
    box-shadow: 100px 200px black;
}
.features{
     display: block;
    margin-left: auto;
    margin-right: auto;
}
.clothes{
     display: flex;
    justify-content: center;
    border: solid red;
    flex-direction: row;
    background-color: aquamarine;

}  
.dress{
    width: 30%;
}
.dress>div>img{
    width: 30%;
    height: auto;
}
.trousers{
    width: 30%;  
}
.trousers>div>img{
    width: 30%;
    height: auto;
}   
.shoes{
    width: 400px;
    height: auto;
}

.carddress{
  box-shadow: 0 4px 8px 0 rgba(245, 242, 242, 0.2);
  transition: 0.3s;
  width: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 250px;
  margin: 2%;
  border: 2px solid red;
  padding: 30px 20px;
  border-radius: 30px;
  background-color: hsl(127, 14%, 88%);
  float: left;
  padding: 20px;
 
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}
.cardtrousers{
  box-shadow: 0 4px 8px 0 rgba(245, 242, 242, 0.2);
  transition: 0.3s;
  width: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 250px;
  margin: 2%;
  border: 2px solid red;
  padding: 30px 20px;
  border-radius: 30px;
  background-color: hsl(127, 14%, 88%);
  float: inline-end;
  padding: 20px;
  margin-right: 350px;
  margin-left: 350px;
}
.cardshoes{
  box-shadow: 0 4px 8px 0 rgba(245, 242, 242, 0.2);
  transition: 0.3s;
  width: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 250px;
  margin: 2%;
  border: 2px solid red;
  padding: 30px 20px;
  border-radius: 30px;
  background-color: hsl(127, 14%, 88%); 
  float: inline-end;
}
.card{
   display: flex;
   justify-items: flex-end;
   border: 2px solid red;
   flex-direction: column;
}






