*{
    box-sizing: border-box;

}


body{
    background-color: aqua;
}

h1{
    color:red;
}


.navigation{
    background-color: ;
    margin: 0;
}

.links{
    list-style-type: none;
}

.links>li{
display: inline-block;
margin: 20px;
}

.links>li>a{
    color: yellow;
    text-decoration: none;
}

.hero{
    background-color:white;
    display: flex
    
}

.heroimg{
    height:650px;
    border-radius: 100px;
    
}
.hero-text{
    margin: 10px;
    border: 1ic solid aqua;
    padding: 15px 25px 50px 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    height: 350px;
    border-radius: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}
.btn{
    background-color: aquamarine;
    padding: 20px 30px;
    border: none;
    border-radius: 50px;
    box-shadow: 5px 10px black;
}
.but{
    background-color: aquamarine;
    padding: 20px 30px;
    border: none;
    border-radius: 50px;
    box-shadow: 5px 10px black;
}
